<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">

    <property name="SERVICE_NAME" value="display"/>
    <property name="ROOT_PATH" value="F:\\log"/>
    <property name="LOG_DIR" value="display"/>
    <property name="LOG_PATTERN" value="[%d{yyyy-MM-dd_HH:mm:ss.SSS}] [%thread] [%level] [%file:%line] - %msg%n"/>
    <property name="ALL_LOG_FILE_NAME" value="${SERVICE_NAME}"/>

    <appender name="LOG_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ALL_LOG_FILE_NAME}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${SERVICE_NAME}.%d{yyyy-MM-dd}.log%i</fileNamePattern>
            <MaxHistory>30</MaxHistory>
            <maxFileSize>1gb</maxFileSize>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <root level="debug">
        <appender-ref ref="LOG_FILE"/>
        <appender-ref ref="LOG_CONSOLE"/>
    </root>

</configuration>