<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">

    <springProperty scope="context" name="SERVICE_NAME" source="spring.application.name"/>
    <springProperty scope="context" name="ROOT_PATH" source="log.base.path"/>
    <property name="LOG_DIR" value="${SERVICE_NAME}"/>
    <property name="LOG_PATTERN"
              value="[%level] [%d{yyyy-MM-dd_HH:mm:ss.SSS}] TRACE_ID:[%X{tid}] [%thread] [%file:%line] - %msg%n"/>
    <property name="ALL_LOG_FILE_NAME" value="${SERVICE_NAME}"/>

    <appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ALL_LOG_FILE_NAME}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${ROOT_PATH}/${LOG_DIR}/${SERVICE_NAME}.%d{yyyy-MM-dd}.log%i</fileNamePattern>
            <MaxHistory>30</MaxHistory>
            <maxFileSize>10mb</maxFileSize>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">
                <pattern>${LOG_PATTERN}</pattern>
                <charset>utf-8</charset>
            </layout>
        </encoder>
    </appender>

    <appender name="SEND_TO_SKYWALKING" class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.log.GRPCLogClientAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">
                <Pattern>${LOG_PATTERN}</Pattern>
            </layout>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="LOG_FILE"/>
        <appender-ref ref="SEND_TO_SKYWALKING"/>
    </root>

</configuration>